
/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles for the entire page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}
.output {
    flex: 1;
    margin-left: 20px;
    max-width: 400px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}
.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: blue;
}
h2 {
    font-size: 1.5em;
    margin-top: 30px;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"], button, input[type="submit"] {
    padding: 8px;
    margin-bottom: 10px;
    font-size: 1em;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.fa-display {
    margin-top: 20px;
}

#cy {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Responsive design */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    input[type="text"], button, input[type="submit"] {
        width: 100%;
    }
}
